@import "./resets";
@import "./variables";
/*function*/
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
/*mixin*/
@mixin flex-Center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}
/*mobile- reduce size of window texts turns into column*/
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background: $primary-color;
  color: $text-color;
}
/*nested*/
.main {
  @include flex-Center(row);
  width: 80%;
  margin: 0 auto;
  #{&}__paragraph1 {
    font-weight: weight(regular);

    &:hover {
      color: pink;
    }
  }
  #{&}__paragraph2 {
    @extend .main__paragraph1;

    &:hover {
      color: $accent-color; 
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

.light {
  @include theme($light-theme: true);
}
